layover.party {
	handle /api* {
		reverse_proxy * localhost:8000
	}
	handle * {
		root * /home/ubuntu/layover-party-app/web
		try_files {path} /index.html
		file_server
	}
}

www.layover.party {
	redir https://layover.party{uri}
}
