layover.party {
	handle_path /api* {
		reverse_proxy localhost:8000
	}

	handle {
		root * /home/ubuntu/layover-party-app/web
		file_server
	}
}

www.layover.party {
	redir https://layover.party{uri}
}
